:root{
    --backgroundPrincipal:rgba(245, 235, 220);
    --textMenu:#502314;
    --textVerMas:#d72300;
    --maxWidth:1128px ;
    --body-color-16: rgba(80, 35, 20, 0.16);
    --arrowSlide:rgba(173, 171, 171, 0.363) ;
    

}


body{
    margin: 0;
    padding: 0;
    background: var(--backgroundPrincipal);
    
}

ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
}
/* INICIO BARRA DE NAVEGACION DESKTOP */

.divContainer{
    display: flex;
    flex-flow: column;
}
.headerNav .divMenuMobil{
    display: none;
    width: 3rem;
    height: 3rem;
    margin-right: 15px;
    justify-content: center;
    align-items: center;

}


.divNav{
    background: rgba(245, 235, 220, 0.6);
    width: 100%;
}
.divNav .headerNav{
    display: flex;
    max-width: var(--maxWidth);
    height: 100%;
    margin: 0 auto;
    
    
}
.divNav .divMenu{
    display: flex;
    margin: 0.4rem 0;
    align-items: center;
    flex-flow: row wrap;
}
.divNav .aLogo{
    margin: .3rem;
}
.divNav .divCatMenu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 1rem;
    margin-top: 2px;
    

}

.divNav .aCatMenu{

    color: var(--textMenu);
    font-size: 0.9rem;
   
    text-decoration: none;

}

.divMenu .divCatMenu :hover{
    color: var(--textVerMas);
}


.divNav .divMenuDesp{
    display: none;
    background: var(--backgroundPrincipal);
    width: 100%;
    height: 100vh;
    margin-top:3.9rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
    z-index: 30;
    border-top: var(--textMenu) 1px solid;
    
    
}
.divNav .buttonNav{
    border-style: none;
    background: none;
    height: 100%;
    width: 100%;
}


.divNav .divItemMenu {
    
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    
}
.divNav .aCatMenuDesp{
    color: var(--textMenu);
    text-decoration: none;
    padding: 1rem;
    font-size: 1.3rem;
}







/* FIN BARRA DE NAVEGACION DESKTOP */



/* INICIO CARRUSEL */

.divCarrusel{
    width: 100%;
    height: 65vh;
    overflow-x: hidden;
}
.divCarrusel .divCarruselImg{
    display: flex;
    width: 100%;
    height: 65vh;
    outline: none;
    flex-flow: column wrap;
    transition: all .5s;
    

}
.divCarrusel .divImg{
    display: flex;
    min-height: 65vh;
    max-height: 65vh;
    flex-flow: row nowrap;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    align-items: flex-end;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    width: 100%;
    
    
    
}



.divCarrusel .divUl{
    
    width: 100%;
    height: 65vh;
    position: absolute;
}
.divCarrusel .ulCarrusel{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-flow:nowrap;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    position: absolute;
    z-index: 10;
}
.divCarrusel .liCarrusel{
    width: .6rem;
 	height: .66em;
 	background: var(--arrowSlide) ;
 	border-radius: 50%;
 	margin: .4rem;
    margin-bottom: 24px;
    cursor: pointer;
    z-index: 10;
}


.divCarrusel .carruselBtn{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.divCarrusel .divArrowLeft{
    margin-left: 15px;
}
.divCarrusel .buttonArrowLeft{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--arrowSlide) ;
    
}

.divCarrusel .divArrowRight{
    margin-right: 15px;
}
.divCarrusel .buttonArrowRight{
    
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--arrowSlide) ;
}

.divCarrusel .liActive{
    background-color: #fff;
}


/* FIN CARRUSEL */


/* INICIO CUPONES */

.divCupones{
    
    width: 100%;
    max-width: var(--maxWidth);
    padding: 64px 0 32px 0 ;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.divCupones .divCuponesTitle{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-right: 3%;
    
    
    
}
.divCupones .h2Cupones{
    color: var(--textMenu);
    font-size: 1.8rem;
}
.divCupones .aCupones{
    color: var(--textVerMas);
    font-size: 1.1rem;
}

.divCupones .divImgCuponesSpace{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
    
    
}
.divCupones .divCuponesImg{
    display: flex;
    flex-flow: row wrap;
    padding-top: 16px;
    margin: 1px;
    padding: 10px;
    

}
.divCupones .aImgCupones{
    
}
.divCupones .imgCupones{
    width: 352px;
    height: auto;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
    border-radius: 15px;
    
}



/* FIN CUPONES */

/* INICIO LOCAL CERCANO */

.divLocalCercano{
    background: rgba(215, 36, 0, 0.068);
    width: 95%;
    max-width: var(--maxWidth);
    
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0 24px ;

   
}
.divLocalCercano .divLocalCercanoSpace{
    
    display: flex;
    margin: 50px;
    flex-flow: row wrap ;
    justify-content: space-between;
    
}
.divLocalCercano .divBusqueda{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}
.divLocalCercano .divBusquedaText{
    color: var(--textMenu);
    margin-bottom: 5%;
}
.divLocalCercano .h2Locales{
    color: var(--textMenu);
    font-size: 28px;
    margin-bottom: 10px;
}
.divLocalCercano .pLocales{}

.divLocalCercano .divInputSearch{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.divLocalCercano .searchLocal{
    width: 100%;
    height: 50px;
    box-shadow: none;
    color: var(--textMenu);
    font-size: 1rem;
    border-radius: 5px;
    border-style: none;
    
}
.divLocalCercano .buttonSearch{
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 15px;
    text-decoration: none;
    border-style: none;
    font-size: 18px;
    cursor: pointer;
}

.divLocalCercano .divImgBuscadorSpace{
    
}
.divLocalCercano .divImgBuscador{
   
}
.divLocalCercano .imgBuscador{
    width: 250px;
}



/* FIN LOCAL CERCANO */

/* INICIO NOVEDADES */

.divNovedades{
    
    width: 100%;
    max-width: var(--maxWidth);
    padding: 64px 0 32px 0 ;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    

    
    
}

.divNovedades .divNovedadesHeader{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 12px;
    
}
.divNovedades .h2Novedades{
    color: var(--textMenu);
}
.divNovedades .aNovedades{
    color: var(--textVerMas);
    display: block;
}

.divNovedades .divNovedadesSpace{
    
    width: 100%;
    display: flex;
    flex-flow: row ;
    align-items: flex-start;
    overflow-x: hidden;
    padding-bottom: 64px;
    
}
.divNovedades .divImgNovedades{
   
    width: 388px;
    margin: 5px;
    

}
.divNovedades .aImgNovedades{}
.divNovedades .imgNovedades{
    width: 360px;
    height: 240px;
    object-fit: cover;
    border-radius: 15px;
    
}
.divNovedades .h3Novedades{
    color: var(--textMenu);
    font-size: 26px;
    
}
.divNovedades .pTextItemNovedades{
    font-size: 1rem;
    color: var(--textMenu);
    
}



/* FIN NOVEDADES */

/* INICIO DELIVERY */

.divDelivery{
    background: #d72300;
    width: 100%;
    
    padding: 64px 0 64px 0;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    
    
}
.divDelivery .divDeliverySpace{
    max-width: var(--maxWidth);
    
    margin: auto;
    
}
.divDelivery .divDeliveryContent{
    max-width: 488px;
    background: white;
    width: 40%;
    border-radius: 15px;
    padding: 40px 48px;
}
.divDelivery .divDeliveryText{
    padding-bottom: 15px;
    
   
}


.divDelivery .h2Delivery{
    color: var(--textMenu);
    padding-bottom: 15px;
}
.divDelivery .pDelivery{
    color: var(--textMenu);
    padding-bottom: 15px;
}

.divDelivery .divDeliveryBtn{
    
}
.divDelivery .divButtonDelivery{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}
.divDelivery .divImgDelivery{
    width: 100%;
    margin-bottom: 24px;
    border: #d72300 solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divDelivery .imgDelivery{
    max-height: 64px;
    object-fit: contain;
    margin: 15px;
}

.divDelivery .buttonDelivery{
    background: #d72300;
    color: #fff;
    font-size: 1rem;
    width: 90%;
    border-radius: 15px;
    border-style: none;
    min-height: 22px;
    cursor: pointer;
    

}

/* FIN DELIVERY */

/* INICIO HOME APP */

.divHomeApp{
    background: #d72300;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 64px 0 0 0 ;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;

   
}
.divHomeApp .divHomeSpace{
    max-width: var(--maxWidth);
    display: flex;
    
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -16px;
}
.divHomeApp .divImgAppSpace{
    max-width: 488px;
}
.divHomeApp .divImgHomeApp{
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divHomeApp .imgHomeApp{
    width: 100%;
    object-fit: cover;
}

.divHomeApp .divTextAppSpace{
  width: 50%;
  padding: 12px;
}

.divHomeApp .divTitleHomeApp{
    width: 100%;
}
.divHomeApp .h2HomeApp{
    font-weight: 600;
    font-size: 56px ;
    padding-bottom: 20px;
}

.divHomeApp .divLinkHomeApp{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.divHomeApp .aHomeApp{
    
    margin-right: 20px; 
}
.divHomeApp .imgLinkHomeApp{
    width: 150px;
    max-height: 45px;
    
}

.divHomeApp .divParrafoHomeApp{}
.divHomeApp .pHomeApp{
    font-size: 12px;
}

/* FIN HOME APP */

/* INICIO FOOTER */

.divFooter{
    color: white;
    background: var(--textMenu);
    width: 100%;
    
    padding: 64px 0 32px 0 ;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.divFooter .divFooterSpace{
    max-width: var(--maxWidth);
    margin: auto;
}
.divFooter .divFooterContent{
    max-width: var(--maxWidth);
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.divFooter .divFooterTitle{}
.divFooter .h2Footer{
}
.divFooter .h2FooterInfo{
    margin-bottom: 30px;
}
.divFooter .divFooterInfo{}
.divFooter .pFooterLink{
    margin-bottom: 15px;
}
.divFooter .aFooterInfo{
    color:#fff;
    
}

.divFooter .divFooterRrss{
    border-top: 1px white solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.divFooter .imgRrss{
    width: 24px;
    padding: 10px;
}

.divFooter .subText{
    font-size: 12px;
}

/* FIN FOOTER */


/* MEDIA 1200 - 1024 - 768 - 375 px*/

@media only screen and (max-width:1200px){

    .divCupones .divCuponesTitle{
        padding: 0 39px;
        margin-right: 0;
    }
    .divCupones .divImgCuponesSpace{
        justify-content: center;
        margin: auto;
        
        
    }
    .divCupones .imgCupones{
        
        width: 100%;
        max-height: 200px;
        
    }

    .divNovedades .divImgNovedades{
        
        width: 334px;
        margin: 15px;
        
    
    }
    .divNovedades .imgNovedades{
        width: 310px
        
    }
    .divNovedades .divNovedadesAllSpace{
        margin: 24px;
    }

    .divDelivery .divDeliverySpace{
        max-width: var(--maxWidth);
        margin-left: 15px;
        
    }

    
    .divHomeApp .divHomeSpace{
        
        align-items: flex-end;
      }
    .divHomeApp .divTextAppSpace{
        width: 45%;
        
      }
      .divHomeApp .imgLinkHomeApp{
        width: 99px;
        height: 32px;
        
      }
      .divHomeApp .pHomeApp{
        margin-bottom: 15px;
        
      }

      .divFooter .divFooterSpace{
        padding: 0 24px;
      }


}


@media only screen and (max-width: 1024px) {
    .divCarrusel .divImg{
        background-position: center;
        background-size: cover;
    }
    .divCarrusel .carruselBtn{
        align-items: flex-end;
       
    }
    .divCarrusel .divArrowLeft{
        margin: 24px;
    }

    .divCarrusel .divArrowRight{
        margin: 24px;
    }

    .divCupones .divCuponesTitle{
        
        margin-right: 15px;
    }
    
    .divCupones .divCuponesImg{
        
    }
    .divCupones .imgCupones{
        width: 100%;
        
    }

    .divLocalCercano{
        width: 95%;
    }

    .divNovedades .divNovedadesAllSpace{
        margin: 10px;
    }

    .divNovedades .imgNovedades{
        width: 310px;
    }

    

    .divDelivery .divDeliverySpace{
        max-width: var(--maxWidth);
        margin-left: 15px;
        
    }

    .divHomeApp .h2HomeApp{
        font-weight: 600;
        font-size: 40px ;
        padding-bottom: 20px;
    }


}


@media only screen and (max-width: 768px) {
    .divNav{
        background: rgba(245, 235, 220);
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        position: sticky;
        z-index: 20;
    }
    .divNav .divCatMenu{
        display: none;
    }
    .divNav .headerNav{
        
        flex-direction: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .headerNav .divMenuMobil{
        display:flex;
    }

    

    .divLocalCercano {
        width: 100%;
        border-radius: 0;
    }
    .divLocalCercano .divLocalCercanoSpace {
        flex-flow: column wrap;
        align-items: center;
        margin: 50px 0 ;
    }
    .divLocalCercano .divBusqueda{
        width: 100%;
    }

    .divLocalCercano .imgBuscador{
        width: 230px;

    }

    .divNovedades .divNovedadesSpace{
        overflow-x: scroll;
    }

    .divNovedades .divImgNovedades{
        width: 400px;
    }

    .divNovedades .imgNovedades{
        width: 351px;
    }
    .divNovedades .divNovedadesAllSpace{
        margin: 0px;
    }

    .divDelivery .divDeliveryContent{
        width: 60%;
        padding: 24px ;
    }

    .divHomeApp .divHomeSpace{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 15px ;
    }
    .divHomeApp .divTextAppSpace{
        width: 100%;
    }
    .divHomeApp .imgHomeApp{
        width: 575px;
    }

    .divFooter{
        padding: 40px 0 32px 0;
    }

    .divFooter .divFooterContent{
        display: flex;
        flex-flow: column;
    }
    .divFooter .divFooterTitle{
        margin-bottom: 12px;
    }
    .divFooter .divFooterInfo{
        padding: 12px 0;
    }
    .divFooter .divFooterRrss{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    
}


@media only screen and (max-width:375px){
    .divCupones .divCuponesTitle{
        padding-bottom: 1px;
    }
    .divCupones .divImgCuponesSpace{
        justify-content: center;
    }
    .divCupones .imgCupones{
        width: 271px;
        transition: all 1s;
    }
}


