:root{
    --backgroundPrincipal:rgba(245, 235, 220);
    --textMenu:#502314;
    --textVerMas:#d72300;
    --maxWidth:70.5rem ;
    --body-color-16: rgba(80, 35, 20, 0.16);
    --arrowSlide:rgba(173, 171, 171, 0.363) ;
    

}


body{
    margin: 0;
    padding: 0;
    background: var(--backgroundPrincipal);
    
}

ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
}
/* INICIO BARRA DE NAVEGACION DESKTOP */

.divContainer{
    display: flex;
    flex-flow: column;
}
.headerNav .divMenuMobil{
    display: none;
    width: 48px;
    height: 48px;
    margin-right: .9375rem;
    justify-content: center;
    align-items: center;

}


.divNav{
    background: rgba(245, 235, 220, 0.6);
    width: 100%;
}
.divNav .headerNav{
    display: flex;
    max-width: var(--maxWidth);
    height: 100%;
    margin: 0 auto;
    
    
}
.divNav .divMenu{
    display: flex;
    margin: 6.4px 0;
    align-items: center;
    flex-flow: row wrap;
}
.divNav .aLogo{
    margin: 4.8px;
}
.divNav .divCatMenu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 16px;
    margin-top: .125rem;
    

}

.divNav .aCatMenu{

    color: var(--textMenu);
    font-size: 14.4px;
   
    text-decoration: none;

}

.divMenu .divCatMenu :hover{
    color: var(--textVerMas);
}


.divNav .divMenuDesp{
    display: none;
    background: var(--backgroundPrincipal);
    width: 100%;
    height: 100vh;
    margin-top:62.4px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
    z-index: 30;
    border-top: var(--textMenu) .0625rem solid;
    
    
}
.divNav .buttonNav{
    border-style: none;
    background: none;
    height: 100%;
    width: 100%;
}


.divNav .divItemMenu {
    
    width: 100%;
    margin-top: .9375rem;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    
}
.divNav .aCatMenuDesp{
    color: var(--textMenu);
    text-decoration: none;
    padding: 16px;
    font-size: 20.8px;
}







/* FIN BARRA DE NAVEGACION DESKTOP */



/* INICIO CARRUSEL */

.divCarrusel{
    width: 100%;
    height: 65vh;
    overflow-x: hidden;
}
.divCarrusel .divCarruselImg{
    display: flex;
    width: 100%;
    height: 65vh;
    outline: none;
    flex-flow: column wrap;
    transition: all .5s;
    

}
.divCarrusel .divImg{
    display: flex;
    min-height: 65vh;
    max-height: 65vh;
    flex-flow: row nowrap;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    align-items: flex-end;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    width: 100%;
    
    
    
}



.divCarrusel .divUl{
    
    width: 100%;
    height: 65vh;
    position: absolute;
}
.divCarrusel .ulCarrusel{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-flow:nowrap;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    position: absolute;
    z-index: 10;
}
.divCarrusel .liCarrusel{
    width: 9.6px;
 	height: .66em;
 	background: var(--arrowSlide) ;
 	border-radius: 50%;
 	margin: 6.4px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    z-index: 10;
}


.divCarrusel .carruselBtn{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.divCarrusel .divArrowLeft{
    margin-left: .9375rem;
}
.divCarrusel .buttonArrowLeft{
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    cursor: pointer;
    background: var(--arrowSlide) ;
    
}

.divCarrusel .divArrowRight{
    margin-right: .9375rem;
}
.divCarrusel .buttonArrowRight{
    
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    cursor: pointer;
    background: var(--arrowSlide) ;
}

.divCarrusel .liActive{
    background-color: #fff;
}


/* FIN CARRUSEL */


/* INICIO CUPONES */

.divCupones{
    
    width: 100%;
    max-width: var(--maxWidth);
    padding: 4rem 0 2rem 0 ;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.divCupones .divCuponesTitle{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    margin-right: 3%;
    
    
    
}
.divCupones .h2Cupones{
    color: var(--textMenu);
    font-size: 28.8px;
}
.divCupones .aCupones{
    color: var(--textVerMas);
    font-size: 17.6px;
}

.divCupones .divImgCuponesSpace{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
    
    
}
.divCupones .divCuponesImg{
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    margin: .0625rem;
    padding: .625rem;
    

}
.divCupones .aImgCupones{
    
}
.divCupones .imgCupones{
    width: 22rem;
    height: auto;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
    border-radius: .9375rem;
    
}



/* FIN CUPONES */

/* INICIO LOCAL CERCANO */

.divLocalCercano{
    background: rgba(215, 36, 0, 0.068);
    width: 95%;
    max-width: var(--maxWidth);
    
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: .9375rem;
    padding: 0 1.5rem ;

   
}
.divLocalCercano .divLocalCercanoSpace{
    
    display: flex;
    margin: 3.125rem;
    flex-flow: row wrap ;
    justify-content: space-between;
    
}
.divLocalCercano .divBusqueda{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}
.divLocalCercano .divBusquedaText{
    color: var(--textMenu);
    margin-bottom: 5%;
}
.divLocalCercano .h2Locales{
    color: var(--textMenu);
    font-size: 1.75rem;
    margin-bottom: .625rem;
}
.divLocalCercano .pLocales{}

.divLocalCercano .divInputSearch{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.divLocalCercano .searchLocal{
    width: 100%;
    height: 3.125rem;
    box-shadow: none;
    color: var(--textMenu);
    font-size: 16px;
    border-radius: .3125rem;
    border-style: none;
    
}
.divLocalCercano .buttonSearch{
    width: 1.5625rem;
    height: 1.5625rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: .9375rem;
    text-decoration: none;
    border-style: none;
    font-size: 1.125rem;
    cursor: pointer;
}

.divLocalCercano .divImgBuscadorSpace{
    
}
.divLocalCercano .divImgBuscador{
   
}
.divLocalCercano .imgBuscador{
    width: 15.625rem;
}



/* FIN LOCAL CERCANO */

/* INICIO NOVEDADES */

.divNovedades{
    
    width: 100%;
    max-width: var(--maxWidth);
    padding: 4rem 0 2rem 0 ;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    

    
    
}

.divNovedades .divNovedadesHeader{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .9375rem .75rem;
    
}
.divNovedades .h2Novedades{
    color: var(--textMenu);
}
.divNovedades .aNovedades{
    color: var(--textVerMas);
    display: block;
}

.divNovedades .divNovedadesSpace{
    
    width: 100%;
    display: flex;
    flex-flow: row ;
    align-items: flex-start;
    overflow-x: hidden;
    padding-bottom: 4rem;
    
}
.divNovedades .divImgNovedades{
   
    width: 24.25rem;
    margin: .3125rem;
    

}
.divNovedades .aImgNovedades{}
.divNovedades .imgNovedades{
    width: 22.5rem;
    height: 15rem;
    object-fit: cover;
    border-radius: .9375rem;
    
}
.divNovedades .h3Novedades{
    color: var(--textMenu);
    font-size: 1.625rem;
    
}
.divNovedades .pTextItemNovedades{
    font-size: 16px;
    color: var(--textMenu);
    
}



/* FIN NOVEDADES */

/* INICIO DELIVERY */

.divDelivery{
    background: #d72300;
    width: 100%;
    
    padding: 4rem 0 4rem 0;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    
    
}
.divDelivery .divDeliverySpace{
    max-width: var(--maxWidth);
    
    margin: auto;
    
}
.divDelivery .divDeliveryContent{
    max-width: 30.5rem;
    background: white;
    width: 40%;
    border-radius: .9375rem;
    padding: 2.5rem 3rem;
}
.divDelivery .divDeliveryText{
    padding-bottom: .9375rem;
    
   
}


.divDelivery .h2Delivery{
    color: var(--textMenu);
    padding-bottom: .9375rem;
}
.divDelivery .pDelivery{
    color: var(--textMenu);
    padding-bottom: .9375rem;
}

.divDelivery .divDeliveryBtn{
    
}
.divDelivery .divButtonDelivery{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}
.divDelivery .divImgDelivery{
    width: 100%;
    margin-bottom: 1.5rem;
    border: #d72300 solid;
    border-radius: .9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divDelivery .imgDelivery{
    max-height: 4rem;
    object-fit: contain;
    margin: .9375rem;
}

.divDelivery .buttonDelivery{
    background: #d72300;
    color: #fff;
    font-size: 16px;
    width: 90%;
    border-radius: .9375rem;
    border-style: none;
    min-height: 1.375rem;
    cursor: pointer;
    

}

/* FIN DELIVERY */

/* INICIO HOME APP */

.divHomeApp{
    background: #d72300;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0 0 0 ;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;

   
}
.divHomeApp .divHomeSpace{
    max-width: var(--maxWidth);
    display: flex;
    
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -1rem;
}
.divHomeApp .divImgAppSpace{
    max-width: 30.5rem;
}
.divHomeApp .divImgHomeApp{
    width: 100%;
    padding: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divHomeApp .imgHomeApp{
    width: 100%;
    object-fit: cover;
}

.divHomeApp .divTextAppSpace{
  width: 50%; 
  padding: .75rem 0rem .75rem .75rem;
 
}

.divHomeApp .divTitleHomeApp{
    width: 100%;
}
.divHomeApp .h2HomeApp{
    font-weight: 600;
    font-size: 3.5rem ;
    padding-bottom: 1.25rem;
}

.divHomeApp .divLinkHomeApp{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: .9375rem;
}
.divHomeApp .aHomeApp{
    
    margin-right: 1.25rem; 
}
.divHomeApp .imgLinkHomeApp{
    width: 9.375rem;
    max-height: 2.8125rem;
    
}

.divHomeApp .divParrafoHomeApp{}
.divHomeApp .pHomeApp{
    font-size: .75rem;
}

/* FIN HOME APP */

/* INICIO FOOTER */

.divFooter{
    color: white;
    background: var(--textMenu);
    width: 100%;
    
    padding: 4rem 0 2rem 0 ;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.divFooter .divFooterSpace{
    max-width: var(--maxWidth);
    margin: auto;
}
.divFooter .divFooterContent{
    max-width: var(--maxWidth);
    display: flex;
    justify-content: space-between;
    padding-bottom: .3125rem;
}
.divFooter .divFooterTitle{}
.divFooter .h2Footer{
}
.divFooter .h2FooterInfo{
    margin-bottom: 1.875rem;
}
.divFooter .divFooterInfo{}
.divFooter .pFooterLink{
    margin-bottom: .9375rem;
}
.divFooter .aFooterInfo{
    color:#fff;
    
}

.divFooter .divFooterRrss{
    border-top: .0625rem white solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.875rem;
}
.divFooter .imgRrss{
    width: 1.5rem;
    padding: .625rem;
}

.divFooter .subText{
    font-size: .75rem;
}

/* FIN FOOTER */


/* MEDIA 1200 - 1024 - 768 - 375 px*/

@media only screen and (max-width:75rem){

    .divCupones .divCuponesTitle{
        padding: 0 2.4375rem;
        margin-right: 0;
    }
    .divCupones .divImgCuponesSpace{
        justify-content: center;
        margin: auto;
        
        
    }
    .divCupones .imgCupones{
        
        width: 100%;
        max-height: 12.5rem;
        
    }

    .divNovedades .divImgNovedades{
        
        width: 20.875rem;
        margin: .9375rem;
        
    
    }
    .divNovedades .imgNovedades{
        width: 19.375rem
        
    }
    .divNovedades .divNovedadesAllSpace{
        margin: 1.5rem;
    }

    .divDelivery .divDeliverySpace{
        max-width: var(--maxWidth);
        margin-left: .9375rem;
        
    }

    
    .divHomeApp .divHomeSpace{
        
        align-items: flex-end;
      }
    .divHomeApp .divTextAppSpace{
        width: 45%;
        
      }
      .divHomeApp .imgLinkHomeApp{
        width: 6.1875rem;
        height: 2rem;
        
      }
      .divHomeApp .pHomeApp{
        margin-bottom: .9375rem;
        
      }

      .divFooter .divFooterSpace{
        padding: 0 1.5rem;
      }


}


@media only screen and (max-width: 64rem) {
    .divCarrusel .divImg{
        background-position: center;
        background-size: cover;
    }
    .divCarrusel .carruselBtn{
        align-items: flex-end;
       
    }
    .divCarrusel .divArrowLeft{
        margin: 1.5rem;
    }

    .divCarrusel .divArrowRight{
        margin: 1.5rem;
    }

    .divCupones .divCuponesTitle{
        
        margin-right: .9375rem;
    }
    
    .divCupones .divCuponesImg{
        
    }
    .divCupones .imgCupones{
        width: 100%;
        
    }

    .divLocalCercano{
        width: 95%;
    }

    .divNovedades .divNovedadesAllSpace{
        margin: .625rem;
    }

    .divNovedades .imgNovedades{
        width: 19.375rem;
    }

    

    .divDelivery .divDeliverySpace{
        max-width: var(--maxWidth);
        margin-left: .9375rem;
        
    }

    .divHomeApp .h2HomeApp{
        font-weight: 600;
        font-size: 2.5rem ;
        padding-bottom: 1.25rem;
    }


}


@media only screen and (max-width: 48rem) {
    .divNav{
        background: rgba(245, 235, 220);
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        position: sticky;
        z-index: 20;
    }
    .divNav .divCatMenu{
        display: none;
    }
    .divNav .headerNav{
        
        flex-direction: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .headerNav .divMenuMobil{
        display:flex;
    }

    

    .divLocalCercano {
        width: 100%;
        border-radius: 0;
    }
    .divLocalCercano .divLocalCercanoSpace {
        flex-flow: column wrap;
        align-items: center;
        margin: 3.125rem 0 ;
    }
    .divLocalCercano .divBusqueda{
        width: 100%;
    }

    .divLocalCercano .imgBuscador{
        width: 14.375rem;

    }

    .divNovedades .divNovedadesSpace{
        overflow-x: scroll;
    }

    .divNovedades .divImgNovedades{
        width: 25rem;
    }

    .divNovedades .imgNovedades{
        width: 21.9375rem;
    }
    .divNovedades .divNovedadesAllSpace{
        margin: 0rem;
    }

    .divDelivery .divDeliveryContent{
        width: 60%;
        padding: 1.5rem ;
    }

    .divHomeApp .divHomeSpace{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 .9375rem ;
    }
    .divHomeApp .divTextAppSpace{
        width: 100%;
    }
    .divHomeApp .imgHomeApp{
        width: 100%;
    }

    .divFooter{
        padding: 2.5rem 0 2rem 0;
    }

    .divFooter .divFooterContent{
        display: flex;
        flex-flow: column;
    }
    .divFooter .divFooterTitle{
        margin-bottom: .75rem;
    }
    .divFooter .divFooterInfo{
        padding: .75rem 0;
    }
    .divFooter .divFooterRrss{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    
}


@media only screen and (max-width:23.4375rem){
    .divCupones .divCuponesTitle{
        padding-bottom: .0625rem;
    }
    .divCupones .divImgCuponesSpace{
        justify-content: center;
    }
    .divCupones .imgCupones{
        width: 16.9375rem;
        transition: all 1s;
    }
}


